.navbar {
	background-color: #6B705C;
	color: white;
}

.navbar .nav-link {
	color: white !important;
	font-weight: 700;
	font-size: 22px;
	text-decoration-line: none;
}

.me-auto {
	gap: 5px;
}

.navbar-brand {
	color: white !important;
	font-weight: 800;
	font-size: 24px !important;
	text-decoration-line: none;
}
